<div class="recovery-wrapper">
  <div class="progress-bar">
    <div class="dot" [class.active]="currentStep >= 1"></div>
    <div class="line" [class.active]="currentStep >= 2"></div>
    <div class="dot" [class.active]="currentStep >= 2"></div>
    <div class="line"></div>
    <div class="dot"></div>
  </div>

  <div class="step-content" *ngIf="currentStep === 1">
    <h1>{{'Identity' | translate}}</h1>
    <p>{{'enter_mobile_number' | translate}}</p>
    <div class="input-box">
      <input type="tel" [(ngModel)]="recoveryData.phone" placeholder="5xx xxx xxx">
    </div>
    <button class="primary-btn" (click)="sendCode()" [disabled]="loading">
      {{ loading ? 'Sending' : 'Send_SMS_Code'  | translate}}
    </button>
  </div>

  <div class="step-content" *ngIf="currentStep === 2">
    <h1>{{'verification' | translate}}</h1>
    <p>{{'paste_token_msg' | translate}}</p>
    <div class="input-box">
      <input type="text" [(ngModel)]="recoveryData.token" placeholder="Enter Token" class="otp-field">
    </div>
    <button class="primary-btn" (click)="verifyCode()">{{'set_new_password' | translate}}</button>
    <button class="text-link" (click)="currentStep = 1">{{'wrong_number' | translate}}</button>
  </div>
</div>