<header class="header-container">
  <div class="header-content">
    <div class="brand" routerLink="/">
      <div class="logo-box">🎮</div>
      <span class="brand-name show-pc">GAME<span>TIME</span></span>
      <span class="brand-name show-mob">G<span>T</span></span>
    </div>

    <div class="nav-actions">

      <div class="auth-box">
        <ng-container *ngIf="!user">
          <button routerLink="/login" class="btn-text">{{'login' | translate}}</button>
          <button routerLink="/signup" class="btn-primary">{{'signUp' | translate}}</button>
        </ng-container>

        <ng-container *ngIf="user">
          <div class="user-profile">
            <span class="user-name" routerLink="/user/profile">
              {{ user.fullName || 'Gamer' }}
            </span>
            <button (click)="logOut()" class="btn-outline">
              {{'logout' | translate}}
            </button>
          </div>
        </ng-container>

              <div class="lang-wrapper">
        <select (change)="changeLang($event)" class="lang-select">
          <option value="en">EN</option>
          <option value="ka">GE</option>
        </select>
      </div>
      </div>
    </div>
  </div>
</header>