<div class="header_container">
    <!-- <div class="lang_select_cont">
        <select (change)="changeLang($event)" class="main_select">
            <option value="en">En</option>
            <option value="ka">Ge</option>
        </select>
    </div> -->
    <div class="auth_cont">
        <button routerLink="/login" *ngIf="!user" class="auth_buttons main_button">{{'login' | translate}}</button>
        <button (click)="logOut()" *ngIf="user" class="auth_buttons main_button">{{'logout' | translate}}</button>
        <button routerLink="/signup" *ngIf="!user" class="auth_buttons main_button">{{'signUp' | translate}}</button>
    </div>
    <app-businesses *ngIf="user"></app-businesses>
    <app-branches *ngIf="user"></app-branches>
    <app-admin-settings *ngIf="user"></app-admin-settings>
</div>