<div class="header_container">
    <div class="brand_section" routerLink="/admin/branchItems">
        <div class="logo_glow">BM</div>
        <span class="brand_name">ADMIN</span>
    </div>

    <div class="hud_controls" *ngIf="user">
        <div class="hud_item">
            <label>BUSINESS</label>
            <app-businesses></app-businesses>
        </div>
        <div class="hud_divider"></div>
        <div class="hud_item">
            <label>BRANCH</label>
            <app-branches></app-branches>
        </div>
    </div>

    <div class="auth_cont">
        <ng-container *ngIf="user; else guestButtons">
            <app-admin-settings></app-admin-settings>
            <mat-icon [ngClass]="{'active-glow': user?.isActiveAdmin === 1, 'inactive-dim': user?.isActiveAdmin === 0}" (click)="makeAdminActive()">bolt</mat-icon>
            <button (click)="logOut()" class="auth_buttons logout_btn">
                <span class="material-icons">power_settings_new</span>
                <span class="btn_text">LOGOUT</span>
            </button>
        </ng-container>

        <ng-template #guestButtons>
            <button routerLink="/login" class="auth_buttons login_btn">LOGIN</button>
            <button routerLink="/signup" class="auth_buttons signup_btn">SIGN UP</button>
        </ng-template>
    </div>
</div>