<div class="header_container">
    <div class="brand_section" routerLink="/admin/branchItems">
        <div class="logo-box"></div>
        <span class="brand_name">{{'ADMIN' | translate}}</span>
    </div>

    <div class="hud_controls" *ngIf="user">
        <div class="hud_item">
            <label>{{'BUSINESS' | translate}}</label>
            <app-businesses></app-businesses>
        </div>
        <div class="hud_divider"></div>
        <div class="hud_item">
            <label>{{'BRANCH' | translate}}</label>
            <app-branches></app-branches>
        </div>
    </div>

    <div class="auth_cont">
        <ng-container *ngIf="user; else guestButtons">
            <div class="logo-box-mobile"></div>
            <app-admin-settings></app-admin-settings>
            <mat-icon [ngClass]="{'active-glow': user?.isActiveAdmin === 1, 'inactive-dim': user?.isActiveAdmin === 0}" (click)="makeAdminActive()">bolt</mat-icon>
            <button (click)="logOut()" class="auth_buttons logout_btn">
                <span class="material-icons">power_settings_new</span>
                <span class="btn_text">{{'LOGOUT' | translate}}</span>
            </button>
            <div class="switchToUser" (click)="switchToUser()" routerLink="/dashboard">
                <mat-icon>toggle_on</mat-icon>
            </div>

        </ng-container>

        <ng-template #guestButtons>
            <button routerLink="/login" class="auth_buttons login_btn">{{'LOGIN' | translate}}</button>
            <button routerLink="/signup" class="auth_buttons signup_btn">{{'SIGN_UP' | translate}}</button>
        </ng-template>

        <div class="lang-wrapper">
        <select (change)="changeLang($event)" class="lang-select">
          <option value="en">EN</option>
          <option value="ka">GE</option>
        </select>
      </div>
    </div>
</div>