<div class="business-selector-wrapper">
  <button
    mat-button
    [matMenuTriggerFor]="businessesMenu"
    class="cyber-select-btn"
    [class.has-selection]="selectedBusiness !== 'ბიზნესები'"
  >
    <div class="btn-content">
      <span class="context-label">{{'CURRENT_BUSINESS' | translate}}</span>
      <span class="selected-text">{{ selectedBusiness }}</span>
    </div>
    <mat-icon class="chevron">expand_more</mat-icon>
  </button>

  <mat-menu #businessesMenu="matMenu" class="cyber-menu-panel">
    <div class="menu-header">{{'SELECT_WORKSPACE' | translate}}</div>
    <button 
      *ngFor="let business of businesses" 
      (click)="selectBusiness(business)" 
      mat-menu-item
      class="cyber-menu-item"
      [class.active-item]="business.name === selectedBusiness"
    >
      <mat-icon>business_center</mat-icon>
      <span>{{ business.name | translate}}</span>
    </button>
  </mat-menu>
</div>