<div class="reservation-container">

  <h3>Open Slots</h3>

  <label>User</label>
  <select [(ngModel)]="selectedUser">
    <option value="">Select user</option>
    <option *ngFor="let user of users" [value]="user._id">
      {{ user.fullName }}
    </option>
  </select>

  <!-- QUICK DATE SELECT -->
  <label>Quick date</label>
  <div class="quick-dates">
    <label>
      <input
        type="checkbox"
        [checked]="quickDate === 'today'"
        (change)="setQuickDate('today')"
      />
      Today
    </label>

    <label>
      <input
        type="checkbox"
        [checked]="quickDate === 'tomorrow'"
        (change)="setQuickDate('tomorrow')"
      />
      Tomorrow
    </label>

    <label>
      <input
        type="checkbox"
        [checked]="quickDate === 'dayAfter'"
        (change)="setQuickDate('dayAfter')"
      />
      Day after tomorrow
    </label>
  </div>

  <label>Date</label>
  <input
    type="date"
    [(ngModel)]="selectedDate"
    (change)="onManualDateChange()"
    [disabled]="quickDate !== null"
    [class.faded]="quickDate !== null"
  />

  <div class="slots-grid">
    <div 
      *ngFor="let slot of timeSlots" 
      class="slot" 
      [class.free]="slot.free" 
      [class.busy]="!slot.free"
      [class.selected]="slot.selected"
      (click)="selectSlot(slot)"
    >
      {{ slot.label }}
    </div>
  </div>

  <label style="margin-bottom: 20px;">
  <input type="checkbox" [(ngModel)]="isPaid" />
  Mark as paid
</label>
  <button (click)="reserveSelected()">Reserve Selected Slot</button>

</div>
