<div class="branch-switcher-container">
  <button mat-button [matMenuTriggerFor]="branchesMenu" class="cyber-switcher">
    <div class="status-indicator">
      <span class="pulse-dot"></span>
    </div>
    
    <div class="label-group">
      <span class="prefix">{{'CURRENT_BRANCH' | translate}}</span>
      <span class="branch-name">{{ selectedBranchName | translate}}</span>
    </div>

    <mat-icon class="chevron">expand_more</mat-icon>
  </button>

  <mat-menu #branchesMenu="matMenu" class="cyber-dropdown">
    <div class="menu-header">Available Branches</div>
    <button *ngFor="let branch of branches" mat-menu-item (click)="selectBranch(branch)" class="cyber-menu-item">
      <mat-icon>location_on</mat-icon>
      <span>{{ branch.name }}</span>
    </button>
    
    <div *ngIf="branches.length === 0" class="no-branches">
      {{'NO_BRANCHES_FOUND' | translate}}
    </div>
  </mat-menu>
</div>